#home_container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../assets/imagens/floresta_home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#home_container div {
  width: 150px;
  margin: 20px;
}

.form-select, .form-control {
  width: 150px;
  margin: 15px 0;
  background-color: black;
  color: white;
  border: 3px solid yellowgreen;
  border-radius: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#info_jogador {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

#iniciar_jogo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 20px;
  margin-top: 20px;
  border: 5px double black;
  font-size: 30px;
  font-weight: bolder;
  /* font-family: fantasy; */
  color: aliceblue;
  text-shadow: 0 0 0.2em rgb(26, 153, 104), 0 0 0.2em rgb(61, 223, 88),
  0 0 0.2em rgb(7, 104, 44);
}

/* MODAL */

#header_modal {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  color: azure;
  text-shadow: 0 0 0.2em rgb(26, 153, 68), 0 0 0.2em rgb(61, 223, 88),
  0 0 0.2em rgb(7, 104, 44);
}

#modal_inicio_jogo {
  align-self: center;
  width: 100%;
  text-align: center;

}

#footer-modal {
  display: flex;
  justify-content: space-around;
  margin: 7px;
}


