<div id="container_score">
  <!-- <table class="table table-dark table-striped">
    <thead>
      <tr class="tabela_score">
        <td>Nome</td>
        <td>Pontuação</td>
      </tr>
    </thead>
    <tbody>
      <tr class="tabela_score">
        <td>Nome Teste</td>
        <td>1520</td>
      </tr>
      <tr class="tabela_score">
        <td>Teste 2</td>
        <td>1360</td>
      </tr>
      <tr class="tabela_score">
        <td>Nome Teste</td>
        <td>1520</td>
      </tr>
      <tr class="tabela_score">
        <td>Teste 2</td>
        <td>1360</td>
      </tr>
      <tr class="tabela_score">
        <td>Nome Teste</td>
        <td>1520</td>
      </tr>
      <tr class="tabela_score">
        <td>Teste 2</td>
        <td>1360</td>
      </tr>
      <tr class="tabela_score">
        <td>Nome Teste</td>
        <td>1520</td>
      </tr>
      <tr class="tabela_score">
        <td>Teste 2</td>
        <td>1360</td>
      </tr>
    </tbody>
  </table> -->
</div>
