#container_jogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../../assets/imagens/fundo_jogo.jpg);
  height: 81vh;
  background-size: cover;
}

#container_imagens {
  display: flex;
  margin: 0 auto;
  width: 80vw;
  height: 60vh;
  margin-top: 2vh;
}

#imagens_jogo {
  background-image: url(../../../assets/imagens/fundo_img_jogo.png);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30vw;
  margin: 15px;
  padding: 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  overflow: hidden;
}

#container_aposta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  height: 10%;
  margin: 20px auto;
}

#container_aposta input {
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  text-align: center;
}

#input_aposta {
  width: 20%;
}

#input_multiplicador {
  width: 10%;
}

#valor_lucro {
  display: flex;
  justify-content: center;
  color: yellow;
  text-shadow: 3px 3px #ff0000;
  font-size: 70px;
  font-weight: bolder;
  width: 35%;
  margin: 0;
}

.operadores_resultado {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: rgb(221, 24, 24);
  text-shadow: 2px 2px #fbff00;
}




