<header>
  <div class="container_header">
    <div
      (click)="irParaHome()"
      id="container_logo"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      title="Ir para a Home"
    >
      <img
        id="logo"
        src="../../../assets/imagens/astronauta.png"
        alt="astronauta"
      />
      <span id="texto_logo">Space Game</span>
    </div>

    <!-- IMAGENS -->
    <div *ngFor="let imagem of imagens">
      <app-imagem-header [imagem]="imagem"> </app-imagem-header>
    </div>
    <!-- PONTUACAO DO JOGADOR -->
    <div id="pontuacao_jogador">
      <label id="valor_usuario">100</label>
    </div>
  </div>
</header>
