<header>
  <div
    class="text-center bg-image"
    style="
      background-image: url('../../../assets/imagens/floresta_jogo.jpg');
      height: 110px;
    "
  >
    <div class="container_header">
      <div (click)="irParaHome()" id="container_logo">
        <img
          id="logo"
          src="../../../assets/imagens/logo.png"
          alt="logo com ferradura, trevo e joaninha"
        />
        <span id="texto_logo">Selva da Sorte</span>
      </div>
      <!-- IMAGENS -->
      <div *ngFor="let imagem of imagens">
        <app-imagem-header [imagem]="imagem"> </app-imagem-header>
      </div>
      <!-- PONTUACAO DO JOGADOR -->
      <div id="pontuacao_jogador">
        <label id="valor_usuario">100</label>
      </div>
    </div>
  </div>
</header>
